<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

    <title>Learning - <%= data[0].topic_lang %>
    </title>
</head>

<body>

    <body>

        <!-- Unicons CSS -->
        <nav class="nav">
            <i class="uil uil-bars navOpenBtn"></i>
            <a href="#" class="logo"><b>E-learning Platform</b></a>

            <ul class="nav-links">
                <i class="uil uil-times navCloseBtn"></i>
                <li><a href="<%= isTeacher=='true' ?  '/teadashboard' :'/studashboard'  %>">Dashboard</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>

            <i class="uil uil-signout search-signout"> <a href="/logout">Logout</a></i>

        </nav>



        <div id="div">
            <div class="left">
                <h3><b>
                        <%= data[0].topic_lang %>
                    </b></h3>
                <% for(var i=0; i < data.length; i++) { %>
                    <% if(id==data[i]._id){ %>
                        <a style="background-color: #4d5264; color: white"
                            href="http://localhost:3000/practice/<%= data[i].topic_lang %>/<%= data[i]._id %>"
                            id="left"><b><i class="uil uil-play search-play"></i>
                                Lecture <%= i+1 %>
                            </b></a>

                        <% } else{ %>
                            <a href="http://localhost:3000/practice/<%= data[i].topic_lang %>/<%= data[i]._id %>"
                                id="left"><b><i class="uil uil-play search-play"></i>
                                    Lecture <%= i+1 %>
                                </b></a>

                            <% } %>

                                <% } %>

            </div>

            <div class="right">
                <div class="left1">
                    <ul>
                        <hr>
                        <% let count = 0; %>
                        <% for (let j=0; j < data2.length; j++) { %>
                            <% if(data1._id==data2[j].topic_id){ %>
                                <%  count = 1; %>
                               <div><li style=" position: absolute;left: 400px; color: rgb(0, 146, 56);"> Submited</li></div>
                               <% } %>
                               <% } %>
                               <% if(count==0){ %>
                                <div><li style=" position: absolute; left: 400px; color: rgba(243, 7, 7, 0.819);">Not Submited</li></div>


                            <% } %>
                        <b> Problem:</b>
                        <% let myArray=data1.topic_ques.split(",") %>
                            <% for (let i=0; i < myArray.length; i++) { %>
                               
                                <li style="list-style: none;">
                                   
                                    <%= i+1 %> <%= myArray[i] %>
                                </li>

                                <% } %>
                    </ul>
                    <hr>
                    <iframe frameBorder="0" height="500px"
                        src="https://onecompiler.com/embed/<%= data[0].topic_lang %>?codeChangeEvent=true"
                        width="100%"></iframe>                      
                        <% if(isTeacher=='false'){ %>
                            <button onclick="load()" class="formbold-btn">Submit</button>
                            <% }else{ %>
                                <button onclick="load()" style="background-color: rgb(202, 207, 211)" class="formbold-btn" disabled>Submit</button>

                            <% } %>
                </div>
            </div>
    </body>

</html>
<style>
    /* Google Fonts - Poppins */
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }

    body {
        background: #f0faff;
    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 15px 200px;
        background: #ffffff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .formbold-btn {
        text-align: center;
        font-size: 16px;
        border-radius: 6px;
        padding: 14px 32px;
        border: none;
        font-weight: 600;
        float: right;
        background-color: rgba(233, 30, 99, 1);
        color: white;
        width: 200px;
        cursor: pointer;
    }

    .nav,
    .nav .nav-links {
        display: flex;
        align-items: center;
    }

    .nav {
        justify-content: space-between;
    }

    a {
        color: #353842;
        text-decoration: none;
    }

    .nav .logo {
        font-size: 22px;
        font-weight: 500;
    }

    .nav .nav-links {
        column-gap: 20px;
        list-style: none;
    }

    .nav .nav-links a {
        transition: all 0.2s linear;
    }

    .nav.openSearch .nav-links a {
        opacity: 0;
        pointer-events: none;
    }

    .nav .search-icon {
        color: #353842;
        font-size: 20px;
        cursor: pointer;
    }

    .nav .search-box {
        position: absolute;
        right: 250px;
        height: 45px;
        max-width: 555px;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        transition: all 0.2s linear;
    }

    .nav.openSearch .search-box {
        opacity: 1;
        pointer-events: auto;
    }

    .search-box .search-icon {
        position: absolute;
        left: 15px;
        top: 50%;
        left: 15px;
        color: #ffcc00;
        transform: translateY(-50%);
    }

    .search-box input {
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        color: white;
        border-radius: 6px;
        background-color: #353842;
        padding: 0 15px 0 45px;
    }

    .nav .navOpenBtn,
    .nav .navCloseBtn {
        display: none;
    }

    /* responsive */
    @media screen and (max-width: 1160px) {
        .nav {
            padding: 15px 100px;
        }

        .nav .search-box {
            right: 150px;
        }
    }

    @media screen and (max-width: 950px) {
        .nav {
            padding: 15px 50px;
        }

        .nav .search-box {
            right: 100px;
            max-width: 400px;
        }
    }

    @media screen and (max-width: 768px) {

        .nav .navOpenBtn,
        .nav .navCloseBtn {
            display: block;
        }

        .nav {
            padding: 15px 20px;
        }

        .nav .nav-links {
            position: fixed;
            top: 0;
            left: -100%;
            height: 100%;
            max-width: 280px;
            width: 100%;
            padding-top: 100px;
            row-gap: 30px;
            flex-direction: column;
            background-color: #ffcc00;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            transition: all 0.4s ease;
            z-index: 100;
        }

        .nav.openNav .nav-links {
            left: 0;
        }

        .nav .navOpenBtn {
            color: #353842;
            font-size: 20px;
            cursor: pointer;
        }

        .nav .navCloseBtn {
            position: absolute;
            top: 20px;
            right: 20px;
            color: #353842;
            font-size: 20px;
            cursor: pointer;
        }

        .nav .search-box {
            top: calc(100% + 10px);
            max-width: calc(100% - 20px);
            right: 50%;
            transform: translateX(50%);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
    }

    body {
        min-width: 650px;
        height: 500px;
    }


    h5 {
        font-family: Verdana, sans-serif;
        font-size: 12px;
        line-height: 1.5;
        float: right;
        color: grey;
    }

    .menu {
        width: 100%;

        background-color: #4CAF50;
        box-shadow: 2px 2px 5px grey;
        clear: both;
    }

    .important {
        list-style: none;
        margin-left: -40px;
        padding-top: 14px;
        position: relative;
    }

    .important li a {
        text-decoration: none;
        color: black;
        padding: 5px;
        display: block;
    }

    #a {
        color: white;
    }

    #a:hover {
        background-color: white;
        color: black;
    }

    .important li {
        width: 200px;
    }

    .important ul {
        list-style: none;
        margin: 0;
        padding: 0;
        visibility: hidden;
        position: absolute;
        background-color: #f1f1f1;
    }

    .important li:hover ul {
        visibility: visible;
        padding-top: 0;
        padding-bottom: 5px;

    }

    .important li a:hover {
        background-color: grey;
        color: black;
    }

    #a {
        padding-bottom: 20px;
        padding-top: 18px;
    }

    .left {
        float: left;
        width: 17%;
        text-align: center;
        margin-left: 10px;
        /* min-height:2618px; */
        background-color: white;
        box-shadow: 1px 1px 5px grey;
        /* padding-left:2px; */
        font-family: Verdana, sans-serif;
        font-size: 15px;
        /* line-height: 1.0; */
        /*  */
    }

    #left:hover {
        background-color: lightgrey;

    }

    .right {
        margin-left: 18%;
        /* min-height:2600px;  */
        background-color: white;
        box-shadow: 2px 2px 20px grey;
        border-radius: 2px;
    }

    #div {
        width: 100%;
        /* min-height: 2550px; */
        margin-top: 100px;
    }

    #left {
        text-decoration: none;
        color: black;
        display: block;
        /* padding-top:5px; padding-bottom:5px; */
        /* padding: 10px; */
    }

    .right1 {
        float: right;
        /* margin-top: 30px; */
        /* margin-right:30px; */
        /* width: 100%; */
        /* min-height: 370px; */
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 2px 15px lightgrey;
        border-radius: 3px;
    }

    #grey {
        font-family: "Segoe UI", Arial, sans-serif;
        font-weight: 400;
        color: #555555;
        font-size: 26px;
    }

    #click {
        margin: 2px;
        padding: 9px;
        text-decoration: none;
        background-color: #616161;
        color: white;
        white-space: nowrap;
        display: inline-block;
    }

    #click:hover {
        background-color: lightgrey;
        color: black;
    }

    input {
        height: 200px;
    }

    #try {
        background-color: #4CAF50;
        color: white;
        padding: 9px;
        margin-left: 10px;
        text-decoration: none;
    }

    #try:hover {
        box-shadow: 2px 2px 5px grey;
    }

    #try1 {
        margin-left: 11px;

        border-left: 4px solid #4CAF50;
        padding-left: 5px;
        background-color: white;
        width: 90%;
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 3px;
        box-shadow: 2px 2px 5px grey;
        font-family: Verdana, sans-serif;
        font-size: 12px;

    }

    h3 {
        color: grey;
    }

    .second {
        position: relative;
        height: 400px;
        top: 440px;
        background-color: #f1f1f1;
        margin-left: 3px;
        margin-left: 5px;
    }

    #left2 {
        min-height: 350px;
        width: 45%;
        float: left;
        position: absolute;
        left: 25px;
        top: 0;
    }

    #right2 {
        min-height: 350px;
        width: 41%;
        float: right;
        position: absolute;
        right: 26px;
        top: 0;
    }

    .third {
        position: relative;
        min-height: 400px;
        top: 430px;
        margin-left: 5px;
        margin-top: 29px;

    }

    #left3 {
        min-height: 350px;
        width: 45%;
        float: left;
        position: absolute;
        left: 25px;
        top: 0;
    }

    #right3 {
        box-shadow: 2px 2px 15px lightgrey;

        min-height: 370px;
        width: 41%;
        float: right;
        position: absolute;
        right: 26px;
        top: 0;
        background-color: #f1f1f1;
    }

    .fourth {
        position: relative;
        min-height: 250px;
        top: 450px;
        background-color: #f1f1f1;
        margin-left: 5px;

    }

    #left4 {
        position: absolute;
        float: left;
        width: 29%;
        min-height: 210px;
        left: 26px;
        margin-top: 20px;
        background-color: white;
        box-shadow: 2px 2px 5px grey;
    }

    #right4 {
        position: absolute;
        float: right;
        width: 29%;
        min-height: 210px;
        right: 26px;
        margin-top: 20px;
        background-color: white;
        box-shadow: 2px 2px 5px grey;
    }

    #center {
        position: absolute;
        width: 29%;
        min-height: 210px;
        left: 35%;
        right: 35%;
        margin-top: 20px;
        background-color: white;
        box-shadow: 2px 2px 5px grey;
    }

    .five {
        position: relative;
        height: 300px;
        top: 450px;
        background-color: white;
        margin-left: 5px;
        margin-top: 5px;
    }

    #left5 {
        position: absolute;
        float: left;
        width: 29%;
        height: 250px;
        left: 26px;
        margin-top: 20px;
    }

    #right5 {
        position: absolute;
        float: right;
        width: 29%;
        height: 250px;
        right: 26px;
        margin-top: 20px;

    }

    #center1 {
        position: absolute;
        width: 29%;
        height: 200px;
        left: 35%;
        right: 35%;
        margin-top: 20px;
    }

    .pictures {

        position: relative;
        height: 450px;
        top: 450px;
        background-color: #f1f1f1;
        margin-left: 5px;
        margin-top: 5px;
        padding-top: 20px;
    }

    .footer {

        position: relative;
        height: 310px;
        top: 450px;
        background-color: grey;
        margin-left: 3px;
    }

    #paragraph {
        color: white;
        width: 96%;
        margin-left: 2%;
        margin-top: 85px;

    }

    #paragraph a {
        color: white;
    }

    #img {
        width: 50px;
    }

    #web {
        width: 150px;
        height: 40px;
        position: relative;
        top: 42px;
        left: 30px;
    }

    #web:hover {
        background-color: lightgrey;
    }

    #forum {
        position: relative;
        float: right;
        color: white;
        right: 20px;
    }

    #forum a {
        color: white;
    }

    #forum a:hover {
        color: lightgreen;
    }

    #right4 #click {
        margin-left: 23px;
    }

    #left4 #click {
        margin-top: 21px;

    }

    #center #click {
        margin-top: 21px;

    }

    .five #click {
        margin-top: 20px;
    }
</style>
<script>
    let data = "";
    window.onmessage = function (e) {
        if (e.data && e.data.language) {
            data = e.data

        }
    };
    function load() {
        if(data==""){

            confirm("First Run The Programme")
        }else{

        const url = '/submit';
        let dataa = {
            topic_lang: '<%= data1.topic_lang %>',
            topic_id: '<%= data1._id %>',
            content: data.files[0].content
        };

        fetch(url, {
            method: 'POST',
            body: JSON.stringify(dataa),
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(dataa => {
                console.log('Success:', dataa);
                location.reload()
            })
            .catch((error) => {
                console.error('Error:', error);
            });

    
    }
}
</script>